<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="icon" href="static/icons/chatbot.png">
  <link rel="stylesheet" type="text/css" href="static\css\login.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
</head>
<body>
	<center>
		<div class="text">
			<h1>
				Welcome to Rule ChatBot
			</h1>
		</div>

		<div class="main">  	
			<input type="checkbox" id="chk" aria-hidden="true" >

				<div class="login">
					<form action="/" method="POST">
						<label for="chk" aria-hidden="true">Login</label>
						<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
						<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
						<button>Login</button>
					</form>
				</div>

				<div class="signup">
					<form action="/register" method="POST">
						<label for="chk" aria-hidden="true">Sign up</label>
						<input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
						<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
						<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
						<button>Sign up</button>
					</form>
				</div>
			</input>
		</div>

</body>
</html>
<!-- partial -->  
</body>
</html>
